<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VLOG</title>
</head>
<body>
<h1>Vlog</h1>
<ol>
    <li>
        <a href="http://google.com">Google</a>
    </li>
    <li>
        <a href="http://bing.com">Bing</a>
    </li>
</ol>
</body>
</html>